.panel {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: -webkit-fill-available
}

.top-bar {
  height: 3rem;
  background-color: lightgray;
  margin-bottom: 4rem;
}

.container {
  width: min(calc(100% - 4rem), 1600px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.header {
  margin-inline: auto;
  text-align: center;
}

.header__category {
  text-transform: uppercase;
}

.header__question {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels__slider-position {
  font-size: 1.4rem;
  width: 3ch;
  text-align: center;
  border: none;
  border-bottom: dotted 4px lightgray;
  padding-bottom: 0.25rem;
}

.labels__slider-position-wrapper {
  position: relative;
}

.labels__slider-position-tooltip {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: lightgray;
  width: 200px;
  display: inline-block;
  padding: 0.5rem;
}

.arrow-up {
  top: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent lightgray transparent;
}

.end {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  padding-bottom: 2rem;
}
 
.end__button {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.end__questions-left {
  margin-top: 2rem;
}

.note {
  margin-top: 2rem;
}

.note__button {
  background: none;
  padding: 0;
  border: none;
  font-size: 1rem;
}

.note__textarea {
  margin-top: 0.5rem;
  width: 100%;
  display: table-cell;
}